.App {
  text-align: center;
  padding: 10px 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cherche-citation{
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
}



@media screen and (max-width: 600px) {
  .App {
    padding: 10px 10px;
  }

  .cherche-citation{
    flex-direction: column;
  }
  .cherche-citation > button{
    width: 100%;
    margin-bottom: 10px ;
  }
  .cherche-citation > div{
    width: 100%;
  }
  .generer-citations-buttons > button{
    width: 100%;
    margin: 5px 0;
  }
}
  
